.settingmenu {
  height: 70vh;
  width: 25%;
  background-color: rgb(236, 235, 235);
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  &-item {
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(65, 65, 65);
    margin-top: 0.6rem;
    height: max-content;
    background-color: rgb(255, 255, 255);
    &-active {
      box-shadow: 0px 3px 1px 0px rgba($color: #a3a3a3, $alpha: 0.2);
      font-weight: bold;
    }
  }
}

.current {
  width: 75%;
}
.settings {
  display: flex;
  flex-flow: row;
}

.changepassform{
    width: 60%;
}
