@import "../../../mediaQueries.scss";
.sidebar {
  z-index: 10000;
  position: fixed !important;
}
.evbar {
  position: fixed !important;
  width: 82%;
  right: 0;
  transition: width 0.5s ease;
  @include responsive(tab) {
    width: 100%;
  }
  @include responsive(phone) {
    width: 100% !important;
  }
  z-index: 9000;
}
.faketopbar {
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
}
.fakefooter {
  width: 100%;
  height: 2.9rem;
}

.ev-footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0;
}

.barwrapper {
  padding: 0.5rem;
  cursor: pointer;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ev-sidebar {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.slide-effect {
  transition: 0.4s ease;
  animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.rotate180 {
  transition: transform 0.8s ease;
  transform: rotate(180deg);
}

.rotate0 {
  transition: transform 0.8s ease;
  transform: rotate(0deg);
}

@keyframes slideRight {
  from {
    margin-left: -2rem;
  }
  to {
    margin-left: 0rem;
  }
}

.minicard {
  width: max-content;
  padding: 1%;
  margin: 1rem;
  border-radius: 1rem;
  height: 5rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba($color: #797979, $alpha: 0.3);
}
.text {
  &-green {
    color: rgb(44, 204, 44);
  }
}
.ball {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 4px 0px rgba($color: #535353, $alpha: 0.3);
  }
  &-w {
    background-color: rgb(235, 162, 162);
  }
  &-c {
    background-color: rgb(160, 255, 160);
  }
  &-u {
    background-color: rgb(255, 232, 167);
  }
}
