
.flex{
    display: flex;
    &-row{
        flex-direction: row;
    }
    &-col{
        flex-direction: column;
    }
    &-wrap{
        flex-wrap: wrap;
    }
    &-jc-center{
        justify-content: center;
    }
    &-ai-center{
        align-items: center;
    }
}
 
