@import "../../mediaQueries.scss";

.aboutcard {
  padding: 3%;
  margin: 2%;
  width: 40%;
  @include responsive(phone) {
    width: fit-content;
    padding: 7%;
  }
  box-shadow: 0px 3px 2px 0px rgba($color: #6b6b6b, $alpha: 0.6);
  &:hover {
    box-shadow: 0px 5px 3px 0px rgba($color: #6b6b6b, $alpha: 0.6);
  }
  border-radius: 2rem;
  &-content {
    font-size: 1rem;
    text-shadow: 1px 1px rgba(170, 170, 170, 0.856);
  }
}

$themered: rgb(170, 48, 48);
.about-title-container {
  background-color: $themered;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -3%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  @include responsive(phone) {
    margin-top: -8%;
    padding-top: 2rem;
  }
}
.red {
  color: $themered;
}
.redborder {
  border-top: solid $themered;
  border-top-width: 4px;
}
.reddish {
  background-color: rgba(255, 203, 203, 0.952);
}

.greenish {
  background-color: rgba(148, 255, 121, 0.925);
}

.green {
  color: rgb(33, 94, 38);
}
.greenborder {
  border-top: solid rgb(33, 94, 38);
  border-top-width: 4px;
}

.blueish {
  background-color: rgba(162, 213, 247, 0.938);
}

.blue {
  color: rgb(16, 79, 121);
}
.blueborder {
  border-top: solid rgb(16, 79, 121);
  border-top-width: 4px;
}

.yellowish {
  background-color: rgba(255, 235, 146, 0.938);
}

.yellow {
  color: rgb(151, 136, 0);
}
.yellowborder {
  border-top: solid rgb(228, 205, 0);
  border-top-width: 4px;
}
